
*{
    margin: 0%;
}
.navbar
{
    background-color:cadetblue;
    color: white;
    padding: 20px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.brand
{
    color:white;
    font-weight: bolder;
    font-size:x-large;
    padding-right: 10px;
}