* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #6495ED; /* Medium Blue */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menuItems {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px; 
}

.menuItems:hover {
    background-color: #87CEFA; 
}

.leftSide {
    font-size: 25px;
}

.navUL {
    display: flex;
    list-style: none; 
}