.heading{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 212);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-container{
    display: flex;
    margin-top: 70px;
}
.flight-img{
    width: 900px;
    height: 300px;
    margin-left:120px;
    /* margin-top: 50px; */
    
    box-shadow:0 0 2px 1px rgb(14, 86, 230);
    border-radius:50%;
}

.subtitle{
    font-size: 35px;
    font-weight: bold;
    margin-left: 40px;
    
}
.description{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 5px;
    margin-top: 25px;
    color: rgb(110, 109, 109);
    justify-content: space-around;
}

.Explore-btn{
    
    background-color: rgb(43, 133, 228);
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 9px;
    border: none;
    margin-left: 40px;
}

.Explore-btn:hover{
    background-color: blue;
    color: beige;
    transition: 0.9s;
    cursor: pointer;

}



.team-intro{
    padding: 5px;
    text-align: justify;
    font-size: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
