.home-banner-container {
    display: flex;
    
}
  
.home-bannerImage-container {
    flex: 2.5; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px; 
}
  
.home-bannerImage-container img {
    width: 100%; 
    height: auto;
    max-width: 100%; 
   
}
  
.home-text-section {
    flex: 1.5; 
    padding: 0 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 5px; 
}
  
.primary-heading {
    font-size: 37px;
    border-bottom: 2px solid #002D62;
    color: #002D62;
    max-width: 600px;
    margin: 10px 40px; 
    font-weight: bolder;
}
  
.primary-text {
    font-size: 20px;
    max-width: 500px;
    color: #002D62;
    margin: 10px 40px; 
}
  
.secondary-button {
    padding: 12px 28px;
    background-color: #002D62;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 18px; 
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    margin: 10px 40px; 
}
  
.secondary-button:hover {
    background-color: #0066b2;
    padding: 14px 30px;
}
  

.secHead{
    color: #0330c1;
    margin: 0 40px;
    border-bottom: 3px solid blue;
}
  
.home-info-section {
    flex: 1.5; 
    padding: 0 5px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 5px; 
}
  
.info-heading {
  font-size: 37px;
  border-bottom: 2px solid #002D62;
  color: #002D62;
  max-width: 600px;
  margin: 10px 40px; 
  font-weight: bolder;
}
  
.info-text {
  font-size: 20px;
  max-width: 500px;
  color: #002D62;
  margin: 10px 40px; 
}
  
.button-container {
    display: flex;

}

.info-button:first-child {
    margin-right: 0;
}

.info-button {
  padding: 12px 28px;
  background-color: #002D62;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 18px; 
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  margin: 10px 40px; 
  text-decoration: none;
}
  
.info-button:hover {
    background-color: #0066b2;
    padding: 14px 30px;
}
  
.home-image-container {
    flex: 1.7; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin: 0 50px; 
}
  
.home-image-container img {
    width: 100%; 
    height: 400px;
    max-width: 100%; 
}

.howItWork {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 180px; 
}
  
.howItWork-content {
    text-align: center; 

}


.contactHead{
    font-size: 30px;
    border-bottom: 2px solid #002D62;
    color: #002D62;
    font-weight: bolder;
}

.contact-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 

}
  
.contact-form-container input[type="text"] {
    width: 500px; 
    height: 50px;
    padding: 10px;
    margin-right: 10px; 
    font-size: 15px;
    padding: 10px 20px;
    background-color: white;
}
  